##! usr/bin/env python3


import os

os.system("clear")
os.system("pkg install figlet")
os.system("figlet By R2B1BY")
os.system("termux-setup-storage")
os.system("pkg install git")
os.system("pkg install curl")
os.system("pkg install wget")
os.system("pkg install python")
os.system("pkg install python2")
os.system("pkg install python3")
os.system("pkg install php")
os.system("pkg install perl")
os.system("pkg install nano")
os.system("pkg install vim")
os.system("pkg installl nmap")
os.system("apt install unzip")
os.system("apt install tesseract")
os.system("apt install imagemagick")
os.system("pkg install ruby")
os.system("pkg install openssl")
os.system("pkg install nodejs")
os.system("apt install cmatrix")
os.system("apt install dnsutils")
os.system("apt install hashdeep")
os.system("apt install hexcurse")
os.system("apt install json-c")
os.system("apt install ninja")
os.system("apt install openssl")
os.system("apt install sslscan")
os.system("apt install weechat")
os.system("apt install unzip")
os.system("pkg install tor")
os.system("apt purge game-repo -y")
os.system("pkg install root-repo")
os.system("pkg install unstable-repo")
os.system("pkg install x11-repo")
os.system("apt update && apt upgrade")
os.system("pkg install cowsay")
os.system("cowsay installation finished")
input("press ctrl+d to log out")
